.about {
  padding-top: var(--container-gap);
  padding-bottom: var(--container-gap);
  background-color: var(--tertiary-text-color);
}

.about-list {
  display: flex;
  @extend %align-items;
}

.about-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-icon {
  @extend %align-items;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--background-btn-color);
}

.about-icon-card {
  width: 70px;
  height: 70px;
}

.about-list-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-list-text {
  margin-top: 10px;
  max-width: 270px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
