.practice {
  padding-top: var(--container-gap);
  padding-bottom: var(--container-gap);
  background-color: var(--tertiary-text-color);
}

.practice-list {
  margin-bottom: 50px;
  padding-left: 280px;
  display: flex;
}

.practice-item:not(:last-child) {
  margin-right: 8px;
}
